<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmcmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.solucionamos.bmcmanager.ServerListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.solucionamos.bmcmanager.ServerDetailActivity"
            android:label="@string/action_titleServerDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.solucionamos.bmcmanager.ServerListActivity" />
        </activity>
        <activity
            android:name="com.solucionamos.bmcmanager.AddServerActivity"
            android:label="@string/title_activity_add_serv" >
            <intent-filter>
                <action android:name="android.intent.action.ADD_SERVER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>